* ::after,::before{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);    
}

.calculator{
    width:60vw;
    height:70vh;
    margin-right: 20px;
    display: flex;  
    flex-direction: column;
    border-radius: 20px;  
    background-color:#907fb8;    
}

.display{      
    display: flex;    
    flex-basis:15%;
    padding:20px 30px;
    flex-direction: column; 
    justify-content:space-between;
    text-align: right;          
} 

.currentNumber{
    font-size:30px;    
} 

.pannel{
    flex-grow:1;    
    display:flex;
    flex-wrap:wrap;   
}

.pannel button{    
    display:flex;   
    width:25%;          
    justify-content: center;
    align-items: center;
    font-size:25px;
    cursor:pointer;
    transition: all .3s ease-in-out;  
    background-color:#907fb8;
    border:2px solid rgba(0,0,0,0.3);
}

button:hover{
    background-color:#a88beb;
} 

.pannel-two{
    display: flex;
    flex-grow:1;
}

.pannel-two button{
    flex-grow:1;
}

.calculator-history{
    display:flex;
    flex-direction:column;    
    align-items: center;
    text-align: center;    
    height:70vh;
    width:25vw;        
    font-size:30px;
    background-color:#a88bea;    
    
}

.history-title{
    padding:10px;     
    height:10%;    
}

.history{
    flex-grow:1;    
    list-style: none;    
    padding:0; 
    margin:0;
}

.history-btn{
    display:none;
    margin:20px auto;
    border:none;
    font-size:15px;
    color:whitesmoke;
    padding:10px;    
    border-radius: 20px;
    cursor:pointer;
    font-weight: bold;
    background-color:#573674;
    outline:none;
}

.history-btn.active{
    display:block;
    width:70%;    
}

.history-item{
    margin:8px 0;
    letter-spacing: 1px;
    padding-bottom:5px;
    font-size:20px;    
}

@media(max-width:768px){

    .calculator-history{
        display: none;
    }

    .calculator{
        height:60%;
        width:90%;
        margin-right:0;
    }

}    

 





   
